
.create-post{
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.content-area{
font-size: 20px;
width: 70vw;
border: 1px solid #ccc;
padding: 25px;
}

.submit{
  margin-top: 5px;
  background-color: rgb(124, 104, 80);


}